body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.ervice-area-main {
    background: #FAFAFA;
    padding-top: 58px;
    padding-bottom: 58px;
}
.service-area {
    width: 1140px;
    margin: 0 auto;
}
.service-header h2 {
    text-align: center;
    margin: 0px 0px 64px 0px;
    font-size: 30px;
}
.business-service {
    display: flex;
}
.service-main {
    width: 25%;
    margin: 0 16px;
    background: #fff;
    img {
        width: 100%;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 1px 5px 9px 6px #E9F5EE;
    }

}

.service {
    margin-left: 19px;
    h4 {
        font-size: 17px;
    }
    p {
        color: #9c9a9a;
        line-height: 24px;
    }
    .btn {
        background: none;
        border: none;
        padding: 8px 36px;
        border-radius: 18px;
        color: #31CD73;
        margin: 12px 0px 31px 0px;
        cursor: pointer;
        padding-left: 0;
        font-size: 14px;
        font-weight: 600;
        &:focus{
            outline: none;
        }
        &:hover {
            color: #fff;
            background: #31CD73;
            padding: 8px 20px;
            transition: .3s;
        }
        .fas.fa-arrow-right {
            font-size: 11px;
            margin-left: 9px;
        }
    }
}












